*, :after, :before {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

code, kbd {
  /*padding: 2px 4px;*/
  font-size: 90%;
}

pre, code {
  padding: 2px 4px;
  /*color: #c7254e;*/
  /*background-color: #f9f2f4;*/
  color: #555;
  background-color: #F3F3F3;
  border-radius: 4px;
}

pre > code {
  padding: 0;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  display: table;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  display: table-cell;
  padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

th {
  font-weight: bold;
  text-align: left;
}

li {
  display: list-item;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

ol, ul, menu, dir {
  display: block;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:active, a:hover {
  outline: 0;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
