/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

@import "../../node_modules/codemirror/lib/codemirror";
@import "../../node_modules/codemirror/theme/base16-light";

/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/read-only-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/read-only)

*/

.cm-s-base16-light span.cm-comment {
    color: #B7B7B7;
}

.cm-s-read-only.CodeMirror { background: white; color: #202020; }
.cm-s-read-only div.CodeMirror-selected { background: #e0e0e0; }
.cm-s-read-only .CodeMirror-line::selection, .cm-s-read-only .CodeMirror-line > span::selection, .cm-s-read-only .CodeMirror-line > span > span::selection { background: #e0e0e0; }
.cm-s-read-only .CodeMirror-line::-moz-selection, .cm-s-read-only .CodeMirror-line > span::-moz-selection, .cm-s-read-only .CodeMirror-line > span > span::-moz-selection { background: #e0e0e0; }
.cm-s-read-only .CodeMirror-gutters { background: white; border-right: 0px; }
.cm-s-read-only .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-read-only .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-s-read-only .CodeMirror-linenumber { color: #b0b0b0; }
.cm-s-read-only .CodeMirror-cursor { border-left: 1px solid #505050; }

.cm-s-read-only span.cm-comment { color: #B7B7B7; }
.cm-s-read-only span.cm-atom { color: #aa759f; }
.cm-s-read-only span.cm-number { color: #aa759f; }

.cm-s-read-only span.cm-property, .cm-s-read-only span.cm-attribute { color: #90a959; }
.cm-s-read-only span.cm-keyword { color: #ac4142; }
.cm-s-read-only span.cm-string { color: #f4bf75; }

.cm-s-read-only span.cm-variable { color: #90a959; }
.cm-s-read-only span.cm-variable-2 { color: #6a9fb5; }
.cm-s-read-only span.cm-def { color: #d28445; }
.cm-s-read-only span.cm-bracket { color: #202020; }
.cm-s-read-only span.cm-tag { color: #ac4142; }
.cm-s-read-only span.cm-link { color: #aa759f; }
.cm-s-read-only span.cm-error { background: #ac4142; color: #505050; }

.cm-s-read-only .CodeMirror-activeline-background { background: #DDDCDC; }
.cm-s-read-only .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
